<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/">myFilmsApp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="text-white nav-link" href="/byTitle">Alfabético</a>
      </li>
      <li class="nav-item">
        <a class="text-white nav-link" href="/byRate">Valoración</a>
      </li>
      <li class="nav-item">
        <a class="text-white nav-link" href="/byDate">Lanzamiento</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search">
      <input class="form-control mr-sm-2" name="searchTitles" type="text" placeholder="Búsqueda">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="far fa-eye"></i> GO!</button>
    </form>
  </div>
</nav>